<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!--About Me Content-->
	<main class="container">
		<div class="jumbotron">
			<h1 class="display-4"><%= title %></h1>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <img src="/Assets/images/profile_picture.png" class="img-fluid" alt="profile_picture">
                </div>
    
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="container" style="padding-bottom: 20px;">
                        <h3>Marc Louis Gene A. De Guzman</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Filipino descent</li>
                        <li class="list-group-item">Over 10+ years of experience in designing, developing and maintaining client-server and web-based applications</li>
                        <li class="list-group-item">Experienced in developing web-based applications using PHP 5.x, MySQL, XML, CSS, HTML, DHTML, XHTML, JavaScript, JQuery and AJAX Technology</li>
                        <li class="list-group-item">Web Technologies: HTML/5, SCSS/CSS, Javascript,AJAX, XML, JSON, PHP</li>
                        <li class="list-group-item">Javascript Libraries: jQuery, AngularJS, Angular 2 to 11</li>
                        <li class="list-group-item">Version Controls: SVN, Maven, GIT</li>
                        <li class="list-group-item">Backend: JAVA, C/C++</li>
                        <li class="list-group-item">IDE: Eclipse, NetBeans, Sourcetree, Visual Studio Code, Visual Studio</li>
                      </ul>

                    <div class="col-sm-6 col-md-6 col-xs-12" style="padding-top: 20px;">
                        <a href="Assets/marc_deguzman_resume.pdf" class="btn btn-primary">View My CV</a>
                    </div>
                </div>
            </div>
		</div>
	</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>